.videoHome{
    width: 100%;
    object-fit: cover;
    scale: 1;
    height: 700px;
    border-radius: 0 0 30px 30px;
}

.bemVindos{
    font-size: 80px;
    position: relative;
    top: -500px;
    color: chartreuse;
    margin: 0;
}

.conteudoHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
    position: relative;
    top: -96px;
}

.texto{
    margin: 3%;
}

.texto h2{
    font-size: 2.5vw;
}

.texto p{
    font-size: 1.2vw;
}

.imageHomePromotional{
    width: 100%;
    border-radius: 40px;
}