@font-face {
  font-family: 'Noracle';
  src: url('assets/fonts/Noracle.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.App {
  text-align: center;
  font-family: 'Noracle';
  display: flex;
  flex-direction: column;
}
